<!--attendee/mainsite/templates/addresses/create.html-->
{% extends 'shared/base.html'%}

{% load static %}

{% block title %}
  attendee/mainsite/templates/addresses/create.html
{% endblock title %}

{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<h1>
  {% if form.instance.pk %}
    Edit address
  {% else %}
    Add a new address
  {% endif %}
</h1>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit"
           value="Save"
           class="btn btn-primary">
    <a href="{% url 'addresses' %}"
       class="btn btn-secondary">
      Cancel & Back list
    </a>
</form>
{% endblock content%}