<!--attendee/mainsite/templates/base/base.html-->
 <!--#TODO: script defer load -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
  <div class="container-fluid">
    {% include 'shared/header.html' %}
    <hr>
        {% block content %}
        {% endblock %}
    <hr>
    {% include 'shared/footer.html' %}

<!--# TODO: to make all scripts defer and css links rel preload in head -->
  </div>
</body>
</html>