<h3>Event detail</h3>
<div class="table-responsive">
  <table class="table table-sm table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">field</th>
        <th scope="col">value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">id</th>
        <td> {{ object.id }} </td>
      </tr>
      <tr>
        <th scope="row">type</th>
        <td> {{ object.name }} </td>
      </tr>
      <tr>
        <th scope="row">addresses</th>
        <td> {{ object.get_addresses }} </td>
      </tr>
      <tr>
        <th scope="row">updated_at</th>
        <td>
            {{ object.updated_at }} {{timezone_name}}
        </td>
      </tr>
      <tr>
        <th scope="row">record status</th>
        <td> {{ object.status }} </td>
      </tr>
    <caption>
      {{ object.notes|length }} note{{ object.notes.count|pluralize }} attached.
    </caption>
  </table>
</div>