<h3>Event detail</h3>
<div class="table-responsive">
  <table class="table table-sm table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">field</th>
        <th scope="col">value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">id</th>
        <td> {{ event.id }} </td>
      </tr>
      <tr>
        <th scope="row">type</th>
        <td> {{ event.name }} </td>
      </tr>
      <tr>
        <th scope="row">updated_at</th>
        <td>
          <time datetime="{{event.iso_updated_at}}">
            {{ event.updated_at }} UTC Time
          </time>
        </td>
      </tr>
      <tr>
        <th scope="row">record status</th>
        <td> {{ event.status }} </td>
      </tr>
    <caption>
      {{ event.notes|length }} note{{ event.notes.count|pluralize }} attached.
    </caption>
  </table>
</div>