<div class="notes {{ notes|yesno:',d-none,' }}">
  <h5>Notes</h5>
  <div class="table-responsive">
    <table class="table table-sm table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">Content</th>
          <th scope="col">Time</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody>
        {% for note in notes %}
          <tr id="{{note.id}}">
            <td>
              {{ note.note_text|safe }}
            </td>
            <td>
              <time datetime="{{note.iso_updated_at}}">
                {{ note.updated_at }} UTC Time
              </time>
            </td>

      <td>
        {% url 'link_note_detail' note.id as detail_path %}
        {% include "shared/crud_icons/_ajax_edit.html"    with display_name=note.note_text %}
        {% include "shared/crud_icons/_ajax_delete.html"  with display_name=note.note_text %}
      </td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>