{% load static %}
<!--attendee/mainsite/templates/base/base.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    <script defer
        src="{% static 'jquery/jquery-3.4.1.min.js' %}"
        integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
        crossorigin="anonymous">
    </script>

    <script defer
        src="{% static 'popper/popper.min.js' %}"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
    </script>

    <link rel="preload"
        as="style"
        href="{% static 'bootstrap/bootstrap.min.css' %}"
        onload="this.rel='stylesheet'">

    <script defer
        src="{% static 'bootstrap/bootstrap.min.js' %}"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script defer
        src="{% static 'fontawesome/solid.min.js' %}"
        integrity="sha384-+2/MEhV42Ne5nONkjLVCZFGh5IaEQmfXyvGlsibBiATelTFbVGoLB1sqhczi0hlf"
        crossorigin="anonymous"></script>

    <script defer
        src="{% static 'fontawesome/fontawesome.min.js' %}"
        integrity="sha384-Ia7KZbX22R7DDSbxNmxHqPQ15ceNzg2U4h5A8dy3K47G2fV1k658BTxXjp7rdhXa"
        crossorigin="anonymous">
    </script>

    <script defer
        src="{% static 'javascripts/shared/base.js' %}">
    </script>

    {% block extra_head %}
    {% endblock extra_head %}

</head>
<body>
  <div class="container-fluid">
    {% include 'shared/header.html' %}
    <hr>

    <div>
      {% if user.is_authenticated %}

        {% block content %}
        {% endblock content %}

      {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Click here to login.</a>

        {% block authentication_content %}
        {% endblock authentication_content %}

      {% endif %}
    </div>

    <hr>
    {% include 'shared/footer.html' %}
  </div>
</body>
</html>