{% load static %}
<p>I am shared/footer </p>

<script src="{% static 'jquery/jquery.min.js' %}"
        integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6"
        crossorigin="anonymous"></script>

<script src="{% static 'popper/popper.min.js' %}"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<link rel="stylesheet"
      type="text/css"
      href="{% static 'bootstrap/bootstrap.min.css' %}"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">

<script src="{% static 'bootstrap/bootstrap.min.js' %}"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>