<h3>Attending detail</h3>
<div class="table-responsive">
  <table class="table table-sm table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">field</th>
        <th scope="col">value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">id</th>
        <td> {{ object.id }} </td>
      </tr>
      <tr>
        <th scope="row">registration</th>
        <td> {{ object.registration }} </td>
      </tr>
      <tr>
        <th scope="row">attendee</th>
        <td> {{ object.attendee }} </td>
      </tr>
      <tr>
        <th scope="row">price</th>
        <td> {{ object.price }} </td>
      </tr>
      <tr>
        <th scope="row">age</th>
        <td> {{ object.age }} </td>
      </tr>
      <tr>
        <th scope="row">type</th>
        <td> {{ object.attending_type }} </td>
      </tr>
      <tr>
        <th scope="row">divisions</th>
        <td> {{ object.division_names|default:"---" }} </td>
      </tr>
      <tr>
        <th scope="row">belief</th>
        <td> {{ object.belief }} </td>
      </tr>
      <tr>
        <th scope="row">bed_needs</th>
        <td> {{ object.bed_needs }} </td>
      </tr>
      <tr>
        <th scope="row">addresses</th>
        <td> {{ object.all_addresses|default:"---" }} </td>
      </tr>
      <tr>
        <th scope="row">updated_at</th>
        <td>
            {{ object.updated_at }} {{timezone_name}}
        </td>
      </tr>
      <tr>
        <th scope="row">record status</th>
        <td> {{ object.status }} </td>
      </tr>
    <caption>
      {{ object.notes|length }} note{{ object.notes.count|pluralize }} attached.
    </caption>
  </table>
</div>