{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>
<body>
  <div class="container-fluid">
    {% include 'shared/header.html' %}
    <hr>
        {% block content %}
        {% endblock %}
    <hr>
    {% include 'shared/footer.html' %}

      <script src="{% static 'javascripts/attendings.js' %}"></script>
<!--# TODO: to make all scripts defer and css links rel preload in head -->
  </div>
</body>

</html>