<!--attendee/mainsite/templates/attendings/detail.html-->
{% extends 'shared/base.html'%}

{% load static %}

{% block title %}
  attendee/mainsite/templates/attendings/detail.html
{% endblock title %}

{% block extra_head %}
  <script defer
          src="{% static 'javascripts/shared/utilities.js' %}">
  </script>

  <script defer
          src="{% static 'javascripts/attendings/detail.js' %}">
  </script>
{% endblock extra_head %}

{% block content %}
  <div>
    {% if user.is_authenticated %}
        {% include 'attendings/_attending_table.html' %}
        {% include 'attendings/_notes_table.html' %}
        <a href="{% url 'attendings' %}">Back to attending list.</a>

    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Click here to login again.</a>
    {% endif %}
  </div>
{% endblock content%}