<!--attendee/mainsite/templates/attendings/index.html-->

{% extends 'shared/base.html'%}

{% block title %}
    attendee/mainsite/templates/attendings/index.html
{% endblock title %}

{% block content %}
<div>
{% if user.is_authenticated %}

<h3>
  Totally {{attending_list.count}} people attending:
        {% if program_counts %}
          {{program_counts}}.
        {% endif %}
</h3>


<div class = "table-responsive">
<table class="table table-sm table-hover table-striped">
    <caption>
        {% if bed_counts %}
          Beds needed: {{bed_counts}}
        {% endif %}
    </caption>
  <thead>
    <tr>
      <th scope="col">Contact</th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">program</th>
      <th scope="col">bed</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
{% for attending in attending_list %}
    <tr>
      <th scope="row">
          {{ attending.main_contact }}
      </th>
      <td>{{ attending.attendee }}</td>
      <td>{{ attending.price }}</td>
      <td>{{ attending.attending_program }}</td>
      <td>
          {% if attending.bed_needs > 0 %}
              <i class="fas fa-bed"
                 aria-label="bed">
              </i>
              <span class="sr-only">bed</span>
          {% endif %}
      </td>
      <td>
        <a href="#ee"
           aria-label="Edit"
           title="Click to edit {{attending.attendee}}">
          <i class="fas fa-edit"></i>
          <span class="sr-only">Edit</span>
        </a>
        <a href="#tt"
           aria-label="Delete"
           title="Click to delete {{ attending.attendee }}"
           onclick="return confirm('Are you sure to delete {{ attending.attendee }}?')">
          <i class="fas fa-trash-alt"></i>
          <span class="sr-only">Delete</span>
        </a>
        <a href="{% url 'attending_detail' attending.id %}"
           aria-label="View"
           title="Click to view {{attending.attendee}}">
          <i class="fas fa-eye"></i>
          <span class="sr-only">View</span>
        </a>
      </td>
    </tr>
{% empty %}
    <tr>
      <th colspan="999">Sorry, no attendings in this list.</th>
    </tr>
{% endfor %}


  </tbody>
</table>
</div>

    <a href="{% url 'home' %}">go back to root path.</a>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Click here to login again.</a>
{% endif %}
</div>
{% endblock content %}