<!--attendee/mainsite/templates/attendings/index.html-->

{% extends 'shared/base.html'%}

{% block title %}
    attendee/mainsite/templates/attendings/index.html
{% endblock title %}

{% block content %}

<h3>
  Totally {{attending_list.count}} people attending:
        {% if program_counts %}
          {{program_counts}}.
        {% endif %}
</h3>


<div class = "table-responsive">
<table class="table table-sm table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Contact</th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">program</th>
      <th scope="col">bed</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
{% for attending in attending_list %}
    <tr>
      <th scope="row">
          {{ attending.main_contact }}
      </th>
      <td>{{ attending.attendee }}</td>
      <td>{{ attending.price }}</td>
      <td>{{ attending.attending_program }}</td>
      <td>
          {% if attending.bed_needs > 0 %}
              <i class="fas fa-bed"
                 aria-label="bed">
              </i>
              <span class="sr-only">bed</span>
          {% endif %}
      </td>
      <td>
        {% url 'attending_detail' attending.id as detail_path %}
        {% include "shared/_rud_actions.html" with display_name=attending.attendee detail_path=detail_path only %}
      </td>
    </tr>
{% empty %}
    <tr>
      <th colspan="999">Sorry, no attendings in this list.</th>
    </tr>
{% endfor %}


  </tbody>
  <caption>
    {% if bed_counts %}
      Total beds needed: {{bed_counts}}
    {% endif %}
  </caption>
</table>
</div>
{% endblock content %}