<!--attendee/mainsite/templates/attendings/index.html-->

{% extends 'attendings/base.html'%}

{% block title %}
    attendee/mainsite/templates/attendings/index.html
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <p>I am attendings/index.html</p>

<h2> List </h2>
{% for attending in object_list %}
    <li>{{ attending }}</li>
{% empty %}
    <li>Sorry, no attendings in this list.</li>
{% endfor %}


    <a href="{% url 'home'%}">go back to root path.</a>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login'%}">Click here to login again.</a>
{% endif %}
{% endblock %}