<!--attendee/mainsite/templates/attendings/show.html-->
{% extends 'shared/base.html'%}

{% load static %}

{% block title %}
  attendee/mainsite/templates/attendings/show.html
{% endblock title %}

{% block extra_head %}
  <script defer
          src="{% static 'javascripts/shared/utilities.js' %}">
  </script>

  <script defer
          src="{% static 'javascripts/attendings/detail.js' %}">
  </script>
{% endblock extra_head %}

{% block content %}
        {% include 'attendings/_attending_table.html' %}
        {% include 'shared/_notes_table.html' with notes=attending.notes only %}
        <a href="{% url 'attendings' %}">Back to attending list.</a>
{% endblock content%}